$white: #fff;
$whiteAlpha: #ffffff66;
$white-gray: #f4f4f4;
$black: #000;
$darkGray: #222;
$slate: #57677d;
$grayAlpha: #00000075;
$lightGray: #b6b5b5a0;
$twitter-color: #08a0e9;
$facebook-color: #3b5998;
$pinterest-color: #bd081c;
$sky: #047f9c;
$darkSky: #015c70;
$lightBlue: #D9EAF9;
$red: #ef4444;
$green: #14CB14;
$orange: #ffa45e;
$gold: #a99e03; 
