@use 'variables';

.search {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 10rem auto;
    width: 65rem;
    padding: .3rem;
    background: variables.$orange;
    border-radius: .3rem;
    transition: 1s liner;
    color: variables.$slate;
    .childage-container{
        margin-top: .2rem;
        display:flex;
        justify-content: end;
        padding: .1rem;
        border-radius: .5rem;
        background-color: variables.$lightGray;
    }
    
    .check-city {
        background: variables.$white;
        padding: .3rem;
        position: relative;
        border-radius: .3rem;
        display: flex;
        align-items: center;
        user-select: none;


        .SearchCity{
            .searchBar{
                display: flex;
                input{
                    font-size: 1rem;
                }
            }
        }
    }
    
    .check-date {
        background: variables.$white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 20rem;
        border-radius: .3rem;
        user-select: none;
        .Checkin,  .Checkout{
            input{
                font-size: 1rem;
                color: variables.$slate;
                cursor: pointer;
                
                
            } 
        }
       
    }

    .check-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;
        width: 25rem;
        border-radius: .3rem;
        color:  variables.$slate;
        user-select: none;
        background: variables.$white;

        .circle {
            background: variables.$slate;
            display: inline-block;
            width: .4rem;
            height: .4rem;
            border-radius: 50%;
        }
        .left{
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .right{
            display: flex;
            gap: 3rem;
            .Adults,  .Rooms, .Children{
                font-weight: 600;

                .btnNumbers{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 .3rem;
                    margin-top: .3rem;
                    font-weight: 500;
                    border: 1px solid;
                    cursor: pointer;
                    transition: .5s;
                    &:hover{
                        background-color: variables.$sky;
                        color: variables.$white;
                       
                    }
                }
            }
        }
        
    }



    button {
        padding: 1rem;
        cursor: pointer;
        color: variables.$white;
        border-radius: 5px;
        background-color: variables.$sky;
        font-family: 'Montserrat', sans-serif;
        transition: 1s;
        &:hover {
            background-color: variables.$darkSky;
            transition: 1s; 
        }
    }
}



.tours-container {
    position: relative;
    max-width: 1200px;
    margin: 1rem auto;
    color: variables.$slate;
  
    .tours {
        width: 100%;
        margin: 2rem auto;
        padding: 0 1rem;
        &::-webkit-scrollbar {
            width: .6rem;
            border-radius: 5px;
            border: 1px solid var(--sky);
        }

        &::-webkit-scrollbar-thumb {
            max-height: 20px;
            border-radius: 5px;
            background: var(--sky);
        }

        table {
            thead{
                tr{
                  th{
                      border: 2px solid variables.$lightGray; 
                      padding: .5rem; 
                    }
                }
            }
           

         .Tour{
                      
            td{
                border:2px solid variables.$lightGray;
                padding: .5rem;
                color: variables.$slate;
                .link{
                  color: variables.$slate;
                  padding: 2rem;
                  cursor: pointer;

                    &:hover{
                         color: variables.$gold;
                    }
                }  
            }
                       
       }
                 
            
           
            button {
                background: var(--darkSky);
                color: white;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 1rem;
                letter-spacing: 1px;
                &:hover {
                    background: var(--sky);
                }
            }
        }
    }
}
.closeTable {
    position: absolute;
    bottom: 10rem;
    right: .3rem;
    color: variables.$slate;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;

    &:hover {
        color: variables.$gold;
    }    
}



.SearchCity{
    .searchBar{
        i{
            margin-right: .1rem;
        }
    }
    .cities{
        position: absolute;
        background-color: variables.$sky;
        border-radius: .5rem;
        padding: .5rem;
        
        .city{
            color: variables.$white-gray;
            &:hover{
                color: variables.$gold;
                cursor: pointer;
            }
            
            i{
                margin-right: .3rem;
                color: variables.$white-gray;
                
            }
        }
    }
}

@media (max-width: 1290px) {
    .tours-container {
        max-width: 1000px;
        .closeTable {
            position: absolute;
            top: 0;
            right: 0;
           
        }
    
    }
}

@media (max-width: 1250px) {
    .search {
        margin-top: 5rem;
    }
}



@media (max-width: 1170px) {
    .search {
        width: 700px;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;

        .check-city{
            width: 100%;
            padding: 1rem;
        }

        .check-date {
            width: 100%;
            gap: 2rem;
            justify-content: flex-start;
            padding: 1rem;
        }

        .check-person {
            width: 100%;
            gap: 1rem;
            padding: 1rem;
        }

        button {
            width: 30%;
        }
    }

    .tours-container {
        max-width: 900px;
    }
    .closeTable {
        bottom: 1rem; 
    }
}

@media (max-width: 1070px) {
    .tours-container {
        max-width: 950px;
    }
}

@media (max-width: 900px) {
    .tours-container {
        max-width: 800px;
    }
}

@media (max-width: 850px) {
    .tours-container {
        max-width: 760px;
    }
}

@media (max-width: 800px) {
    .tours-container {
        max-width: 730px;
        .closeTable {
            top: .1rem;
            left: .1rem;
        }
        
    }
}

@media (max-width: 760px) {
    
    .search {
        width: 500px;

        .check-date {
            text-align: center;
            justify-content: center;
        }

        .check-person {
            justify-content: center;

            .controlCheckPerson {
                left: 40%;
                width: 260px;

                .childage-container {
                    justify-content: center;

                    select {
                        width: 100%;
                    }
                }
            }
        }
    }

    .tours-container {
       max-width:100%;
        .tours {
            table {
              display: inline-block;
              padding: 2rem;
                thead{
                    display: block;
                    font-size: 1rem;
                    tr{
                        max-width: 100%;
                        th{
                          padding: .5rem; 
                          font-size: .9rem;
                        }
                    }
                }
                
             .Tour{
                   width: 100%;         
                td{
                    font-size: .8rem;
                    .link{
                      padding: 2rem;
                    }  
                }              
           }
             
         }
    }    
 }
}

@media (max-width: 738px) {
    .search{
        .check-person{
            .circle{
                display: none;
            }
        }
    }
    
    
    .tours-container {
        max-width:100%;
         .tours {
             table {
               display: inline-block;
               padding: 2rem;
                 thead{
                     display: block;
                     font-size: 1rem;
                     tr{
                         max-width: 100%;
                         th{
                           display: none;
                         }
                     }
                 }
                 
              .Tour{
                    width: 100%;         
                 td{
                     font-size: .7rem;
                     .link{
                       padding: 1rem;
                     }  
                 }              
            }
              
          }
     }    
  }
}

@media (max-width: 550px) {
    .search {
        width: 90%;

        .check-person {
            .controlCheckPerson {
                left: auto;
                right: 15px;
            }
        }

        button {
            width: 120px;
        }
    }
    .tours-container {
         .tours {
             table {
               padding: .5rem; 
              .Tour{         
                 td{
                     font-size: .7rem;

                     .link{
                       padding: .5rem;
                     }  
                 }              
            }
              
          }
     }    
  }
    
}

@media (max-width: 490px) {
    .search {
        button {
            width: 100%;
        }
    }

    .tours-container {
        .tours {
            table {
              padding: .2rem;
                
             .Tour{
                td{

                    font-size: .7rem;
                    .link{
                      padding: .3rem;
                    }  
                }              
           }
             
         }
    } 
    }
}

@media (max-width: 473px) {
    .tours-container {
        .tours {
            table {
              padding: 0;
                
             .Tour{
                td{
                    font-size: .6rem;
                    line-height: .7rem;
                    .link{
                      padding: .1rem;
                    }  
                }              
           }
             
         }
      } 
      .closeTable {
        font-size: 1rem;
    }
    }
}

@media (max-width: 421px) {
    .tours-container {
        .tours {
            
            table {
              padding: 0;
              
             .Tour{
                td{
                    font-weight: 700;
                    font-size: .5rem;
                    line-height: .6rem;
                    .link{
                      padding: .1rem;
                    }  
                }              
           }
             
         }
      } 
      .closeTable {
        font-size: 1rem;
    }
    }
}

@media(max-width: 397px){
    .tours-container {
        .tours {
            
            table {              
             .Tour{
                td{
                    display: block;
                    width: 100%;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: .6rem;
                    .link{
                   
                      font-size: 1.2rem;
                    }  
                }              
           }
             
         }
      } 
      .closeTable {
        font-size: .7rem;
        left: .2rem;
        display: none;
    }
    }
}

@media(max-width: 380px){
    .search {
        width: 100%;
       
        .check-date {
            gap: .2rem;
            width: 100%;
           
        }
        .check-person {
            
            gap: .5rem;
            width: 100%;
            .left{
                font-size: .9rem;
            }
    
            .right{
                display: flex;
                justify-content: center;
                gap: 2rem;
                .Adults,  .Rooms, .Children{
                    font-size: .9rem;
                   
                }
            }
            
        }
    

    }
}

@media(max-width: 320px){
    .search{
        .check-date{
            .Checkin,  .Checkout{
                input{
                    font-size: .9rem;
                    
                } 
            }
        }
    }
}