@use 'variables';

.MainTours {
    .container {
        display: grid;
        gap: 1rem;
        padding: 0 60px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        .mainTour {
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 1rem rgba(0, 0, 0, .4);

            img {
                transition: all .2s linear;
                width: 100%;
                height: 100%;

            }

            .content {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: variables.$white;
                background-color: variables.$grayAlpha;
                padding-top: 30%;
                text-align: center;

                .title {
                    font-size: 1.4rem;
                    font-weight: 700;
                }

                .descr {
                    padding: 10px;
                    font-size: 1.1rem;
                }
            }
        }

        .mainTour:hover img {
            transition: all .2s linear;
            transform: scale(1.1);
        }

        .mainTour:hover .content {
            transition: all .2s linear;
            opacity: 1;
        }
    }
    .label{
        color:variables.$black;
    }
    
}



@media (max-width: 960px) {
    .MainTours {
        .container {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 420px) {
    .MainTours {
        .container {
            padding: 0 1rem;
            
            .mainTour {
                .content {
                    .title {
                        font-size: 1rem;
                    }
    
                    .descr {
                        padding: 10px;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}