@use 'variables';

.ScrollTop {
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    z-index: 1000;
    font-size: 1.6rem;
    border: 2px solid;
    border-radius: 50%;
    padding: .5rem 1rem;
    color: variables.$lightGray; 
    cursor: pointer;

    &:hover {
        background-color: variables.$gold;
        border-color: variables.$gold;
        color: variables.$white;
    }
}